################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
/visualstudio/.vs/any_ptr/v15
/.vs
/CMakeFiles
/src/benchmark/CMakeFiles
*.cmake
/Makefile
/CMakeCache.txt
/src/benchmark/Makefile
/src/benchmark/benchmark
/src/test/CMakeFiles
/Testing/Temporary
/thirdparty/google/test/1.8.0/googletest/CMakeFiles
*.lcov
